.sidepanel {
  width: 300px;
  height: 1000px;
  margin: 0px;
  background-color: lightgray;
  color: black;
  font-size: 24px;

}

.sidepanelElement {
  display: flex;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.bluebox {
  width: 10px;
  background-color: blue;
}

.sidepanelText {
  margin: 8px;
  margin-left: 20px;
}

.sidepanelTextChosen {
  font-weight: 500;
}