body {
  margin: 0px;
}

.h1 {
  font-size: 50px;
}

.container {
  display: inline-flex;
}

.content {
  margin-top: 60px;
  margin-left: 300px;
  padding: 8px;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: blue;
}

.sidepanel {
  width: 300px;
  height: 1000px;
  margin: 0px;
  background-color: lightgray;
  color: black;
  font-size: 24px;
  position: fixed;

}

.sidepanelElement {
  display: flex;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.bluebox {
  width: 10px;
  background-color: blue;
}

.sidepanelText {
  margin: 8px;
  margin-left: 20px;
}

.sidepanelTextChosen {
  font-weight: 500;
}


.pasientInfo{
  width: 300px;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: black;
  font-size: 24px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
}